# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OTGJam.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\erayb\Desktop\Repos\Unity Projects\OTGJam\.idea\.idea.OTGJam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
